@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
}

html{
    font-size: 62.5%;

}

nav{
	background-color: black;
	font-family: 'Oswald', sans-serif;
	padding: 4px 30px;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
}

ul ul{
	position: absolute;
	display: none;
}

nav ul li{
    padding-left: 15px;
}

ul ul li{
	display: block;
	background-color: black;
}

ul li:hover ul{
	display: block;
}

nav ul li a{
	color: darkorange;
	text-decoration: none;
	font-size: 2rem;
}

nav ul li a:hover{
	color: orangered;
}

.header{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

p{
	text-align: center;
	font-size: 15px;
}

.transform:hover{
    transform: translate(50px, -40px);
    transition: transform 1s;
}

h1{
	color: darkorange;
}

form{
	padding: 4px 30px;
}

footer{
    padding: 4px 30px;
    display: flex;
	padding: 20px;
	justify-content: space-evenly;
}

.textPink{
	color: hotpink;
}

.textCenter{
    text-align: center;
}

#contacto{
	color: darkred;
}

.novedades__articulo{
	width: 90%;
    height: auto;
    margin: 20px 50px 50px 100px;
    padding: 20px 5px;
    border-top: solid darkorange 3px;
}

#contenedor{
	width: 100%;
	height: 300px;
	border: solid 1px none;
	display: flex;
	justify-content: space-evenly;
	background-color: black;
}

#contenedor div{
	width: 200px;
	height: 200px;}

.caja1{
    background-color: orange;
    top: 100px;
    left: 50px;
    margin: 20px;
    text-align: center;
}

.caja2{
    background-color: orange;
    top: 30px;
    left: 70px;
    margin: 20px;
    text-align: center;
}

.caja3{
    background-color: orange;
    top: 50px;
    left: 20px;
    margin: 20px;
    text-align: center;
}

.background-black{
	background-color: black;
}

