.header{
         display: flex;
         padding: 20px;
         justify-content: space-around;
            img{
                 margin: 20px;
                 border-radius: 10px;
                    &:hover{
                             transform: translate(40px, -30px);
                             transition: transform 1s;
                    }
            }
       
}

.novedades__articulo{
           width: 90%;
           height: auto;
           margin: 20px 50px 50px 70px;
           padding: 20px 5px;
           border-top: solid $secundaryColor 3px;
              h1{
                  text-align: center;
                  font-size: $textTi;
                  color: $secundaryColor;
                     p{
                        text-align: center;
                        font-size: $textP;
                     }
              }
}
      
.section{
          display: flex;
          margin: 20px;
            form{
                  padding: 4px 30px;
            }
}



//Page "Nosotros"
.header_nosotros{
         display: flex;
         padding: 20px;
         justify-content: space-around;
            img{
                 margin: 20px;
                 border-radius: 10px;
            }
}

.main_nosotros{
    section{
             p{
                display: flex;
                justify-content: space-around;
             }
    }
}

.section_nosotros{
          h1{
              text-align: center;
              font-size: $textTi;
              color: $secundaryColor;
              margin-top: 20px;
          }
}

.textCenter{
    text-align: center;
    font-size: $textP;
    padding: 20px;
}


//Page "Cursos"
.header_cursos{
    h1{
        text-align: center;
        color: $secundaryColor;
        font-size: $textTi;
    }
}