@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html{
    font-size: 62.5%;
}

$fontMain:'Oswald', sans-serif;

//fontsize
$textP:15px;
$textTi:30px;
$textNav:2rem;

//fontweight